@model Language


<form method="post" class="need-validation" action="/language/save" enctype="multipart/form-data">
    @Html.AntiForgeryToken()
    <input name="Id" value="@Model.Id" type="hidden" />
    <input name="FlagUrl" value="@Model.FlagUrl" type="hidden" />
    @if (!string.IsNullOrWhiteSpace(Model.Id))
    {
        <input name="CreatedAt" value="@Model.CreatedAt" type="hidden" />
    }
    <div class="card mb-5 mb-xl-10">
        <div class="card-header border-0 align-items-center">
            <div class="card-title m-0">
                @*<h3 class="fw-bolder m-0">@(string.IsNullOrWhiteSpace(Model.Id) ? "Create" : "Edit") Language</h3>*@
            </div>
            <div class="card-action">
                <a href="/language" class="btn btn-secondary btn-sm">
                    <i class="fa-regular fa-chevron-left"></i>
                    Back To List
                </a>
                <button type="submit" class="btn btn-success btn-sm">
                    Save Language
                </button>
            </div>
        </div>

        <div class="card-body border-top p-9">
            <div class="row mb-6">
                <label class="col-xl-2 col-lg-3 col-md-4 col-form-label fw-bold fs-6">English name</label>
                <div class="col-xl-6 col-lg-6 col-md-8 fv-row">
                    <input type="text" name="EnglishName" class="form-control form-control-solid" placeholder="English name" value="@Model.EnglishName" required />
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-xl-2 col-lg-3 col-md-4 col-form-label fw-bold fs-6">Local name</label>
                <div class="col-xl-6 col-lg-6 col-md-8 fv-row">
                    <input type="text" name="LocalName" class="form-control form-control-solid" placeholder="Local name" value="@Model.LocalName" required />
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-xl-2 col-lg-3 col-md-4 col-form-label fw-bold fs-6">Flag</label>
                <div class="col-xl-6 col-lg-6 col-md-8 fv-row">
                    <input type="file" name="FlagFile" class="form-control form-control-solid" @(string.IsNullOrWhiteSpace(Model.Id) ? "required" : string.Empty) />
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.FlagUrl))
                {
                    <span class='col-xl-4 col-lg-3 col-md-12'>
                        <img width="64" src="@Model.FlagUrl" alt="@Model.EnglishName" />
                    </span>
                }
            </div>
            <div class="row mb-6">
                <label class="col-xl-2 col-lg-3 col-md-4 col-form-label fw-bold fs-6" for="IsActive">Active</label>
                <div class="col-xl-6 col-lg-6 col-md-8 fv-row">
                    <div class="form-check form-check-custom form-check-solid">
                        <input type="checkbox" name="IsActive" class="form-check-input" value="@true.ToString()" id="IsActive" @(Model.IsActive ? "checked" : string.Empty) />
                    </div>
                </div>
            </div>
            <div class="row mb-6">
                <label class="col-xl-2 col-lg-3 col-md-4 col-form-label fw-bold fs-6" for="IsDefault">Default</label>
                <div class="col-xl-6 col-lg-6 col-md-8 fv-row">
                    <div class="form-check form-check-custom form-check-solid">
                        <input type="checkbox" name="IsDefault" class="form-check-input" value="@true.ToString()" id="IsDefault" @(Model.IsDefault ? "checked" : string.Empty) />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer text-end">
            <a href="/language" class="btn btn-secondary btn-sm">
                <i class="fa-regular fa-chevron-left"></i>
                Back To List
            </a>
            <button type="submit" class="btn btn-success btn-sm">
                Save Language
            </button>
        </div>
    </div>
</form>