@using Microsoft.AspNetCore.Http

@inject IHttpContextAccessor httpContextAccessor
@inject DataService dataService

@{
    var userId = httpContextAccessor.HttpContext.Session.GetString("USERID");

    if (string.IsNullOrWhiteSpace(userId))
        httpContextAccessor.HttpContext.Request.Cookies.TryGetValue("USERID", out userId);

    var user = await (await dataService.Users.FindAsync(f => f.Id == userId)).FirstOrDefaultAsync();
}

<!--begin::Aside user-->
<div class="aside-user mb-5 mb-lg-10" id="kt_aside_user">
    <!--begin::User-->
    <div class="d-flex align-items-center flex-column">
        <!--begin::Symbol-->
        <div class="symbol symbol-75px mb-4">
            @if (string.IsNullOrWhiteSpace(user.AvatarUrl))
            {
                <img src="/assets/media/avatars/300-1.jpg" alt="@user.UserName" />
            }
            else
            {
                <img src="@user.AvatarUrl" alt="@user.UserName" />
            }
        </div>
        <!--end::Symbol-->
        <!--begin::Info-->
        <div class="text-center">
            <!--begin::Username-->
            <a href="#" onclick="event.preventDefault();" class="text-gray-900 text-hover-primary fs-4 fw-boldest">@user.FirstName @user.LastName</a>
            <!--end::Username-->
            <!--begin::Description-->
            <span class="text-gray-600 fw-bold d-block fs-7 mb-1">@user.UserName</span>
            <!--end::Description-->
        </div>
        <!--end::Info-->
    </div>
    <!--end::User-->
</div>
<!--end::Aside user-->