@using Microsoft.AspNetCore.Routing

@{
    var controller = Context.GetRouteValue("controller")?.ToString();
    var action = Context.GetRouteValue("action")?.ToString();
}

<div class="aside-menu flex-column-fluid ps-3 ps-lg-5 pe-1 mb-9" id="kt_aside_menu">
    <div class="w-100 hover-scroll-overlay-y pe-2 me-2" id="kt_aside_menu_wrapper" data-kt-scroll="true" data-kt-scroll-activate="{default: false, lg: true}" data-kt-scroll-height="auto" data-kt-scroll-dependencies="#kt_aside_logo, #kt_aside_user, #kt_aside_footer" data-kt-scroll-wrappers="#kt_aside, #kt_aside_menu, #kt_aside_menu_wrapper" data-kt-scroll-offset="0">
        <div class="menu menu-column menu-rounded fw-bold" id="#kt_aside_menu" data-kt-menu="true">

            <div class="menu-item">
                <a class="menu-link @(controller == "Dashboard" && action == "Index" ? "active" : string.Empty)" href="/dashboard">
                    <span class="menu-icon">
                        <i class="fa-regular fa-dashboard"></i>
                    </span>
                    <span class="menu-title">Dashboard</span>
                </a>
            </div>

            <div data-kt-menu-trigger="click" class="menu-item menu-accordion @(controller == "Properties" ? "show" : string.Empty)">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fa-regular fa-home"></i>
                    </span>
                    <span class="menu-title">Properties</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion">

                    <div class="menu-item">
                        <a class="menu-link @(controller == "Properties" && action == "PropertyIndex" && Context.Request.Path.Value!.Contains("/draft") ? "active" : string.Empty)" href="/properties/draft">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">My Drafts</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link @(controller == "Properties" && action == "PropertyIndex" && !Context.Request.Path.Value!.Contains("/draft") ? "active" : string.Empty)" href="/properties">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Properties List</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link @(controller == "Properties" && action == "PropertyForm" ? "active" : string.Empty)" href="/properties/create">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Add New Property</span>
                        </a>
                    </div>

                </div>
            </div>

            <div data-kt-menu-trigger="click" class="menu-item menu-accordion @(controller == "Accounts" ? "show" : string.Empty)">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fa-regular fa-user"></i>
                    </span>
                    <span class="menu-title">Accounts</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion">

                    <div class="menu-item">
                        <a class="menu-link @(controller == "Accounts" && action == "UserIndex" ? "active" : string.Empty)" href="/accounts/user">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Users List</span>
                        </a>
                    </div>
                    <div class="menu-item">
                        <a class="menu-link @(controller == "Accounts" && action == "UserForm" ? "active" : string.Empty)" href="/accounts/user/create">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Add New user</span>
                        </a>
                    </div>

                </div>
            </div>

            <div data-kt-menu-trigger="click" class="menu-item menu-accordion @(controller == "Settings" ? "show" : string.Empty)">
                <span class="menu-link">
                    <span class="menu-icon">
                        <i class="fa-regular fa-cog"></i>
                    </span>
                    <span class="menu-title">Settings</span>
                    <span class="menu-arrow"></span>
                </span>
                <div class="menu-sub menu-sub-accordion">

                    <div class="menu-item">
                        <a class="menu-link @(controller == "Settings" && action == "DistrictIndex" ? "active" : string.Empty)" href="/settings/district">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Districts List</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link @(controller == "Settings" && action == "LanguageIndex" ? "active" : string.Empty)" href="/settings/language">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Languages List</span>
                        </a>
                    </div>

                    <div class="menu-item">
                        <a class="menu-link @(controller == "Settings" && action == "DictionaryIndex" ? "active" : string.Empty)" href="/settings/dictionary">
                            <span class="menu-bullet">
                                <span class="bullet bullet-dot"></span>
                            </span>
                            <span class="menu-title">Dictionary</span>
                        </a>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
